{% extends "base.html" %}
{% block title %}The Hive — Home{% endblock %}
{% block content %}

<form action="/" method="get" class="search-bar">
  <input type="text" name="q"
         placeholder="Search: keywords, tags, city/district"
         value="{{ request.args.get('q','') }}">
  <button class="search-btn" type="submit">Search</button>
</form>

{% for offer in offers %}
<div class="offer-card">

  <a href="{{ url_for('offer_detail', offer_id=offer.offer_id) }}"
     style="color:#ffd84d; font-weight:600; text-decoration:none;">
    {{ offer.title }}
  </a>
  — {{ offer.hours }} hours — {{ offer.location }}

  <form action="/toggle-favorite/{{ offer.offer_id }}" method="post" style="display:inline;">
    <button style="background:none;border:none;cursor:pointer;font-size:20px;color:red;">
      {% if offer.offer_id in user_favorites %}
        ♥
      {% else %}
        ♡
      {% endif %}
    </button>
  </form>

  <div class="small muted">
    Posted by <a href="{{ url_for('profile', user_id=offer.user_id) }}" style="color:#ffd84d; text-decoration:none;">
  {{ offer.user.email.split('@')[0] }}
</a>
  </div>

</div>
{% endfor %}

{% endblock %}






